* {
    padding: 0x;
    margin: 0px;
}

body {
    background-color:#49A022;   /* matrix green */
}

.calculator-layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button {

}
