body {
    background-color: brown;  
}

.current-display {
    background-color: beige;
    width: 300px;
    height: 100px;
    margin: 0;
   
}

/*added container to encompass all of the calcultor so it moves together correctly*/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* style for input area in the display */
.display{
    background-color: beige;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    height: 90px;
    right: 200px;
}

.calculator-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
/*     padding: 50px; */
    width: 300px;
    margin: 0;
}



.button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    
}

.button:hover {
    color: white;
}