body {
    background-color: brown;  
}

.current-display {
    background-color: beige;
    width: 200px;
    padding: 50px;
    margin: 100px auto -224px auto;
}


.calculator-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    width: 250px;
    margin: 174px auto auto 512px;
}

.button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 20px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    
}

.button:hover {
    color: white;
}

p {
    font-size: x-large;
}